#homemenu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  width: 300px;
}

#homemenu>li {
  width: 80%;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 0 dimgray;
  margin-block: 2%;
  padding-block: 2%;
}

#homemenu>li:nth-of-type(n) {
  background: green;
}

#homemenu>li:nth-of-type(2n) {
  background: dodgerblue;
}

#homemenu>li>a {
  text-decoration: none;
  color: #fff;
}

hr~a {}

a[href$="in.html"] {
  position: fixed;
  right: 20vw;
  text-decoration: none;
}


#homemenu~a:not([href$="in.html"]) {
  width: 10vh;
  height: 5vh;
  background: red;
  padding: 2%;
  display: inline-block;
  text-align: center;
  line-height: 5vh;
  text-decoration: none;
  color: #fff;
}

#homemenu~a:not([href$="in.html"]):nth-of-type(1) {
  background: red;
}

#homemenu~a:not([href$="in.html"]):nth-of-type(2) {
  background: rgb(161, 17, 17);
}

#homemenu~a:not([href$="in.html"]):nth-of-type(3) {
  background: rgb(117, 25, 25);
}

#homemenu~a:not([href$="in.html"]):nth-of-type(4) {
  background: rgb(160, 50, 50);
}

#homemenu~a:not([href$="in.html"]):nth-of-type(5) {
  background: rgb(253, 92, 92);
}

#homemenu~a:not([href$="in.html"]):nth-of-type(6) {
  background: rgb(250, 118, 118);
}

#homemenu~br {
  display: none;
}

#homemenu~a:not([href$="in.html"]):hover {
  transform: scale(.9);
  background: #000;
}

a[href$="in.html"]>button {
  font-size: 2vh;
  width: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 0 #000;
  color: #fff;
}

a[href$="in.html"]>button:hover {
  filter: saturate(3);
}

a[href$="in.html"]>button:hover {
  box-shadow: 2px 2px 0 dimgray inset;
}

a[href="login.html"] {
  top: 20vh;
}

a[href="join.html"] {
  top: 35vh;
}

a[href="login.html"]>button {
  background: salmon;
}

a[href="join.html"]>button {
  background: sandybrown;
}

#topmenu{flex-wrap:wrap;margin-top:2%;}
#topmenu>li{font-size:2vh;margin-bottom:1%;}
#topmenu>li:not(:first-child){box-shadow: 3px 3px 0 rgba(0,0,0,.8);}
#topmenu>li:hover{filter:invert(1);transform: scale(1.2);}